<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="carta">
      <h2 data-cy="cartaDetailsHeading"><span>Carta</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ carta.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ carta.nombre }}</span>
        </dd>
        <dt><span>Tipo</span></dt>
        <dd>
          <span>{{ carta.tipo }}</span>
        </dd>
        <dt><span>Coste Mana</span></dt>
        <dd>
          <span>{{ carta.costeMana }}</span>
        </dd>
        <dt><span>Texto</span></dt>
        <dd>
          <span>{{ carta.texto }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/carta', carta.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
